body {
  background-color: rgb(192, 192, 192) !important;
  font: 1em Helvetica;
}

#container {
    width: 840px;
  margin: 60px auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}

.whysign {
  flex: 1;
  background-color: white;
  padding: 40px 20px;
}
.whysignLogin
{
  flex: 1;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: 20px;
  box-sizing: border-box
}
.whyforgotPassword
{
	float: left;
  background-color: white;
  width: 480px;
  height: 470px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}
.signup {
  flex: 1;
  padding: 40px 20px;
  background: white; 
}
.signup button {
   margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.signup button:hover {
  background: #0066cc;
}

.signup a {
  display: block;        
  text-align: center;   
  font-size: 16px;
  color: #4B0082;        
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}


[type=text],
[type=email],
[type=number],
[type=password],
select,
option {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
}

[type=submit] {
    margin-top: 25px;
  width: 80%;
  border: 0;
  background-color:rgb(0,0,128);
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
 outline: none;
  border-color: #53CACE;
}

h2{
  color: red;
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}

span:hover {
  color: #53CACE;
}

p:nth-of-type(2) {
  font-size: 1em;
  
  .navbar {
    background: #eee;
    padding: 10px;
}
.navbar a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar a i {
    margin-right: 5px;
    color: #007bff;
}
}